body {
  background-color: grey;
}

.leFlex {
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
}

.leFlex2 {
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.leFlex3 {
  margin: 10px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.sectionsDiv {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  width: 48%;
}

.skillsDiv {
  text-align: center;
  background-color: rgb(151, 151, 151);
  border-radius: 10px;
  width: 32%;
}

.projectsDiv {
  text-align: center;
  background-color: rgb(151, 151, 151);
  border-radius: 10px;
  width: 80%;
  margin: 10px;
}

.specialhr {
  width: 90%;
}
